---
BasedOnStyle: WebKit
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
ColumnLimit: 100
IndentExternBlock: Indent
